/* buttons */
.a{
    -fx-background-color:  white;
    -fx-text-fill: black;
    -fx-background-radius: 30;
}
.b:hover{
    -fx-background-color: #2e9cca;
    -fx-text-fill: black;
}
.c:hover{
    -fx-background-color: #b33a3a;
    -fx-text-fill: white;
}
.d{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-background-radius: 30;
}

/* scroll pane */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color : transparent;
    -fx-border-color : transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius : 2.0em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius : 0.0em;
    -fx-padding : 0.0 10.0 0.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius : 0.0em;
    -fx-padding : 0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding : 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding : 0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : #25274d;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color : #2e9cca;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:pressed{
    -fx-background-color : #2e9cca;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
/* scroll bar end */

